@import url('https://webfontworld.github.io/HSGaeulSenggak/HSGaeulSenggak2.css');
.App{
  flex-grow: 0;
  background-color: #fff;
}
.content{
  
  margin: 0 120px;
}
.header{
  height: 100px;
  margin-top: 10px;
}
.header-left{
  float: left;
}
.header-right{
  float: right;
  padding-top: 25px;
}
.imagelogo{
}
.logo{
  margin-bottom: 15px;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  padding-bottom: 10px;
  font-weight: bold;
  border-radius: 6px;
  background-color: #fff;
}
.navdiv{
  /*border-bottom:solid 1px #433;*/
  width: 100%;
  box-shadow: 0px 1px rgb(177, 176, 176);
}
.nav-list{
  font-family: 'HSGaeulSenggak2';
  list-style-type: none;
  width: 300px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  color: #433;
}
.section1{
  margin-top: 37px;
}
.sub-title1{
  font-family: 'HSGaeulSenggak2';
  height: 49px;
  margin: 0 54px 13px 0;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #efb33f;
}
.sub-title2{
  font-family: 'HSGaeulSenggak2';
  height: 49px;
  /*margin: 0 920px 13px 54px;*/
  font-family: HSGaeulSenggak2.0;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #433;
}
.line{
  /*width: 1200px;*/
  height: 2px;
  margin: 13px 0 0;
  transform: rotate(-359.85deg);
  background-color: #433;
}
.section2{
  margin: 50px 0 0;
  padding: 0px 10px 39px 9px;
}
.calender-edit{
  display: flex;
  justify-content: end;
  
}
.calender-edit-btn{
  font-family: 'HSGaeulSenggak2';
  width: 127px;
  height: 30px;
  flex-grow: 0;
  margin: 0 35px 35px 15px;
  padding: 5px 4px 0 8px;
  border-radius: 10px;
  border-color: white;
  color: #433;
  outline: 0;
  border:0; 
  background-color: #efb33f;
}
.calenderCase{
 display: flex;
 justify-content: center;
}

