.marketForm {
  width: 300px;
  height: 400px;
  margin: 0 28px 100px 0;
  padding: 15px 39px 22px 34px;
  border-radius: 20px;
  border: solid 3px #bdbdbd;
  font-family: HSGaeulSenggak2;
  color: #443333;
  font-size: 17px;
}
.marketForm-title {
  height: 41px;
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
}

.marektForm-img {
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

.marketForm-date {
}