.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  padding-bottom: 10px;
  font-weight: bold;
  border-radius: 6px;
  background-color: #fff;
}
.navdiv {
  /*border-bottom:solid 1px #433;*/
  width: 100%;
  box-shadow: 0px 1px rgb(177, 176, 176);
}
.nav-list {
  font-family: "HSGaeulSenggak2";
  list-style-type: none;
  width: 300px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  color: #433;
}
